.App {
  text-align: center;
  background-color: #3d3d3d;
  color: white;
  height: 1920px;
  width: 100%;
}

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  width: 100vw;
  height: auto;
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  justify-content: space-evenly;
}

.gocery-list {
  width: 50vw;
}

.add-grocery {
  display: inline;
}

.add-grocery button {
  height: 30px;
  width: auto;
  border: 1px solid orange;
  text-decoration: underline;
  background: inherit;
  color: orange;
  cursor: pointer;
}

.recipe-group {

}